.footer {
  &__top {
    padding-bottom: 80px;
  }

  &__top_title {
    font-family: $second-font;
    font-weight: 400;
    font-size: 32px;
    line-height: 112%;
    letter-spacing: -0.01em;
    text-align: center;
    color: $blue;
    margin-bottom: 32px;
  }

  &__top_email_input {
    font-weight: 700;
    font-size: 15px;
    color: $blue;
    opacity: 0.6;
    border-radius: 24px;
    border: none;
    box-shadow: 10px 10px 25px -10px $blue-shadow;
    background-color: $white;
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 16px;
    padding-bottom: 14px;
    width: 327px;
    margin-bottom: 16px;
  }

  &__top_button {
    @include button;
    padding: 16px 102px 14px 102px;
  }

  &__top_button:hover {
    background-color: $light-pink;
  }

  &__top_form {
    width: 327px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) {
    &__top {
      padding-bottom: 100px;
    }

    &__top_title {
      font-size: 48px;
      margin-bottom: 40px;
    }

    &__top_form {
      width: 445px;
      position: relative;
    }

    &__top_email_input {
      padding: 16px 24px 14px 26px;
      width: 100%;
      margin-bottom: 0;
      position: relative;
    }

    &__top_button {
      padding: 16px 24px 14px 26px;
      position: absolute;
      right: 0;
    }
  }

  @media screen and (min-width: 1110px) {
    &__top {
      padding-bottom: 96px;
    }

    &__top_title {
      margin-bottom: 0;
    }

    &__top_block {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.footer {
  &__bottom {
    padding-top: 41px;
    padding-bottom: 55px;
    background-color: $mirage-blue;
    color: $white;
    background-repeat: no-repeat;
    background-image: url("../images/footer_bg_mobile.svg");
    background-position: bottom;
  }

  &__bottom_block {
    text-align: center;
  }

  &__bottom_logo {
    margin-bottom: 40px;
  }

  &__bottom_item_link {
    font-weight: 700;
    font-size: 15px;
    opacity: 0.7;
  }

  &__bottom_item_link:hover {
    opacity: 1;
  }

  &__bottom_item {
    margin-bottom: 31px;
  }

  &__bottom_list {
    margin-bottom: 8px;
  }

  &__bottom_icon_block {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
  }

  @media screen and (min-width: 376px) {
    &__bottom {
      background-image: none;
    }
  }

  @media screen and (min-width: 768px) {
    &__bottom {
      padding-top: 31px;
      padding-bottom: 31px;
      background-image: url("../images/footer_bg_tablet.svg");
      background-position: right;
    }

    &__bottom_logo {
      margin-bottom: 0;
    }

    &__bottom_list {
      margin-bottom: 0;
      display: flex;
      gap: 40px;
    }

    &__bottom_item {
      margin-bottom: 0;
    }

    &__bottom_content {
      display: flex;
      gap: 64px;
      align-items: center;
    }

    &__bottom_block {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
